body {
  background-color: lightgray;
  font-family: 'Verdana', 'Times New Roman', sans-serif;
  text-align: center;
}

.heading,
figure {
  text-align: center;
}

figure {
  display: inline-block;
  width: 300px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a {
  text-decoration: none;
  color: black;
}

figure:hover {
  background-color: lightgreen;
}

figcaption {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0;
}

.description {
  color: chocolate;
  text-align: center;
}

.ingredients {
  color: lightcoral
}

.steps {
  color: lightseagreen
}

div {
  width: 50%;
}

ul,
ol,
h3 {
  text-align: left;
}